@import '../../../themes';

p {
  font-size: 1rem;
  margin: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  border: 0.3rem solid nb-theme(color-primary-900);
  flex-flow: column;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}
