button {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.pwd-btn {
  margin-bottom: 3em;
}

sub {
  margin-left: auto;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

input {
  margin: 1rem;
}

nb-card {
  width: 28em;
}
