<nb-card size="large">
  <nb-card-body class="container">
    <sub (click)="close()">
      <nb-icon icon="close-outline"></nb-icon>
    </sub>
    <h3>Change password</h3>
    <label>Old password</label>
    <input
      type="password"
      nbInput
      placeholder="Old password"
      [(ngModel)]="oldPassword" />

    <label>New password</label>
    <input
      type="password"
      nbInput
      placeholder="New Password"
      [(ngModel)]="newPassword" />

    <button
      nbButton
      status="success"
      class="submit-btn"
      (click)="changePassword()">
      Save changes
    </button>
  </nb-card-body>
</nb-card>
