nb-card {
  width: 25em;
}

button,
nb-select {
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.close-btn {
  margin-left: auto;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}
